@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans";
 /* text-transform: uppercase;*/
  height: 100%
}


$mobile: 600px;

.flaxConteiner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  @media (max-width: $mobile) {
      display: block;
    }
    
}
.flex-item {   
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }
.flex-item:nth-child(1) {
  text-align: center;
  
  @media (max-width: $mobile) {
        width: auto;
        margin-right: 0;
      }
      
}
.flex-item:nth-child(2) {
  white-space: nowrap;
  @media (max-width: $mobile) {
        width: auto;
        text-align: center;
      }
}

.flex-item:nth-child(2) div{   
  display:inline-block;
  padding: 5px;
}

.flex-item:nth-child(1) .copir div {
  display:inline-block;
}
    



